<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= data.page.title || "The Middleman" %> - 2013 Holiday Poster - thirteen23</title>

    <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/d6f7745b-70ce-44b8-a850-c3bdcf4e2065.css"/>
    <%= stylesheet_link_tag "all" %>
  </head>
  <!--

    Colophon:
      Poster design by Shea Cadrin
      Web implementation by Adam Luikart

    Want to generate your own bubble pattern?
      http://2013.poster.thirteen23.com/generator

    Source code:
      https://github.com/thirteen23/2013-holiday-poster

    Acknowledgements:
      http://middlemanapp.com/
      http://coffeescript.org/
      https://github.com/bestiejs/lodash

      Bubble generator:
      https://github.com/mbostock/d3
      https://github.com/jwagner/simplex-noise.js
      https://github.com/eligrey/Blob.js
      https://github.com/eligrey/FileSaver.js

      Poster animation:
      https://github.com/davatron5000/Lettering.js
      https://gist.github.com/1579671 (requestAnimationFrame polyfill)
      https://github.com/sole/tween.js

    We do pretty cool stuff. Like this:
      http://awards.ixda.org/entry/2013/obama-america-mobile-campaign

    Want to work here? Get in touch!
      http://thirteen23.com/contact/

  -->
  <body class="<%= page_classes %>">
    <%= yield %>

    <%= partial "analytics" %>
  </body>
</html>
